.designH1 {
  background-color: aqua;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 10px;
  color: purple;
}
.clickbtn {
  background: rgb(159, 179, 184);
  padding: 15px;
}
.nameclass {
  color: blue;
  background-color: darksalmon;
  padding: 15px;
}
.studentid {
  border: 1px solid tomato;
  padding: 20px;
  border-radius: 15px;
  background-color: gainsboro;
}
